body {
    overflow-x: hidden;
}

.bg-red {
    background-color: #E86666;
}

.btn-red:hover {
    background-color: #BF5252;
}

.btn-red:focus {
    background-color: #BF5252;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.4rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper a:hover {
    background-color: #E06262;
}

#panel-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #panel-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
