.compressed-card {
    width: 100%;
    height: 75px;
    border-radius: 0.28571429rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075);
    margin: 15px 0;
    cursor: pointer;
}

.expanded-card {
    width: 100%;
    min-height: 200px;
    border-radius: 0.28571429rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075);
    margin: 15px 0;
    cursor: pointer;
}

.completed-card {
    background-color: rgb(195 230 203);
    border: 1px solid rgb(147, 197, 147);
}

.denied-card {
    background-color: rgb(245 198 203);
    border: 1px solid rgb(234 135 146);
}

.pending-card {
    background-color: rgb(246 217 181);
    border: 1px solid rgb(238 182 112);
}

.upcoming-card {
    background-color: rgb(195 214 230);
    border: 1px solid rgb(147 183 197);
}