

.expanded-card {

}

.card-container-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 20px;
    font-size: 16px;
}

.card-container-start-expanded {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-top: 27px;
    width: 50%;
    font-size: 16px;
}

.card-container-item {
    width: 50%;
    padding-left: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 16px;
    font-weight: bold;
}

.card-container-end {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 20px;
    font-size: clamp(12px, 2vw, 18px);

    font-weight: bold;
}

.card-container-end-expanded {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 25px;
    width: 50%;
    font-size: 16px;
    font-weight: bold;
}

.break {
    flex-basis: 100%;
    height: 0px;
  }

.client-notes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 75%;
    font-size: 16px;
}

.card-location {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;

    font-size: clamp(12px, 2vw, 16px);

    line-height: 2;
}

.card-time {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;

    font-size: clamp(12px, 2vw, 16px);

    line-height: 2;
}

.card-name {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;

    font-size: clamp(12px, 2vw, 16px);

    line-height: 2;
}

.card-icon {
    display: flex;
    justify-content: flex-end;

    font-size: clamp(12px, 2vw, 16px);

    padding-right: 20px;
    margin-right: 10px;
}

.card-status {
    display: flex;
    justify-content: flex-start;
    font-size: clamp(12px, 2vw, 18px);
}

.completed-card {
    background-color: rgb(195 230 203);
    border: 1px solid rgb(147, 197, 147);
}

.denied-card {
    background-color: rgb(245 198 203);
    border: 1px solid rgb(234 135 146);
}

.pending-card {
    background-color: rgb(246 217 181);
    border: 1px solid rgb(238 182 112);
}

.upcoming-card {
    background-color: rgb(195 214 230);
    border: 1px solid rgb(147 183 197);
}
