.background {
    background: #f8f8f8;
}

.parent {
    display: flex;
    align-items: flex-start; 
    justify-content: space-around;
}

.title {
    display: flex;
    align-items: flex-start; 
    margin-left: 15px;
    height: 65px;
}

.profile-text {
    font-size: 45px;
}

.heading-text {
    font-size: 20px;
}

.heading-item {
    font-size: 20px;
    padding-right: 10px;
}

.font-adj {
    height: 18px;
    font-size: 20px;
}

.body-text {
    font-size: 16px;
}

.bubble-container {
    background: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}