html,
body {
    font-family: "Lato", sans-serif;
    height: 100%;
}

.loginContainer {
    display: flex;
    flex-direction: column; /* forces flex to be in a column */
    height: 750px;
    align-items: center; 
    justify-content: center;
}

.loginText {
    font-size: 50px;
}