html,
body {
    font-family: "Lato", sans-serif;
    /*height: 100%;*/
    background-color: #E66064;
}

.loginBody {
    /*border: 2em solid #E66064;*/
    /*border-radius: 0.28571429rem;*/
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 0 30px #E66064;
}

.loginContainer {
    /*height: 500px;*/
    /*width: 500px;*/
    /*height: 500px; !*might not need*!*/
    width: 100%;
    /*display: flex;*/
    /*margin: auto;*/
    border-style: solid;
    border-width: 2px;
    border-color: #6c757d;
    border-radius: 0.28571429rem;
    box-shadow: 5px 5px 5px #ccc;
}

.signupContainer {
    height: 500px;
    width: 500px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-width: 2px;
    border-color: #6c757d;
    border-radius: 0.28571429rem;
    padding-left:140px;
}



.loginText {
    font-size: 50px;
}

.signInButton {
    margin-top: 50px;
    height: 70px;
    width: 100%;
    font-size: 50px;
}

.signUpDiv {
    margin-top: 25px;
}

.logoText {
    font-size: 50px;
    /*vertical-align: middle;*/
}