h1 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

.card {
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    margin-top: 25px;
}

.header-text {
    font-size: 45px;
}

.appointment-block {
    padding: 20px;
}